body{
    margin: 0;
    padding: 0;

    /* 
    width: 1440px;
    height: 800px;
 */
}
.head-container{
    display: grid;
    width: 100%;
    height: auto;

    grid-template-columns: repeat()
}

/* ul{
    list-style-type: none;
    text-decoration: none; 
    padding: 0;
    display: inline;
}

li {
} */

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
    font-size: 15px;
	&__title {
		margin: 0px 30px;
	}
	&__item {
		display: inline-block;
		margin: 0px 30px;
	}
}

.nav ul{
    list-style-type: none;
    text-decoration: none; 
    padding: 0;
}

.nav ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

#nav_one li {
    /* margin: 10px; */
    padding:10px;
  }

.nav a{
    text-decoration: none; 
    color: rgb(0, 0, 0);
    letter-spacing: .2rem;

    /* margin-left: auto;
    margin-right: auto; */
}
.nav a:hover{
    /* when hover over words it does this */
    color:rgb(255, 255, 255);
    background-color: rgb(61, 62, 65);  
    border-radius: 20px; 
    padding: 10px;
}

#logo{
    width: 200px;
    height: 200px;
    margin-left: 100px;
}

/* cover image */

#cover-img{
    width: 1000px;
    height: 500px;
    /* padding-left:200px; */
    padding-top:5px;
    margin-left: 15%;
    border-radius: 5%;
}

#centered{
        /* center text in img */
        position: absolute;
        top: 36%;
        left: 45%;
        transform: translate(-50%, -50%);
}

#centered_{
    position: absolute;
    top: 44%;
    left: 48%;
    transform: translate(-50%, -50%);
}

/* grid body */

h2 {
    margin-left: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns:
      repeat(4, 1fr);
    gap: 50px;
    margin: 50px
}

.grid-item {
    /* border: 1px solid black; */
    /* padding: 20px; */
    width: 300px;
    height: 250px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s ease-in-out;
}

.grid-item:hover{
    transform: scale(1.2);
}

.grid-item img {
    height: 85%;
    width: 100%;
    border-radius: 15px;
}

.grid-item h3 {
    margin: 0;
}
