body{
    margin: 0;
    padding: 0;

    /* 
    width: 1440px;
    height: 800px;
 */
}
.head-container{
    display: grid;
    width: 100%;
    height: auto;

    grid-template-columns: repeat()
}


.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
    font-size: 15px;
	&__title {
		margin: 0px 30px;
	}
	&__item {
		display: inline-block;
		margin: 0px 30px;
	}
}

.nav ul{
    list-style-type: none;
    text-decoration: none; 
    padding: 0;
}

.nav ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

#nav_one li {
    /* margin: 10px; */
    padding:10px;
  }

.nav a{
    text-decoration: none; 
    color: rgb(0, 0, 0);
    letter-spacing: .2rem;
}
.nav a:hover{
    /* when hover over words it does this */
    text-decoration: underline overline #000000;
    border-radius: 20px; 
    padding: 10px;
}

#logo{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

/* cover image */

#cover-img{
    width: 1000px;
    height: 500px;
    /* padding-left:200px; */
    padding-top:5px;
    margin-left: 15%;
    border-radius: 5%;
    border: 1px solid black;
}
/* cover img text */
#centered{
    /* center text in img */
    position: absolute;
    top: 36%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#centered_{
position: absolute;
top: 44%;
left: 48%;
transform: translate(-50%, -50%);
}

#pop-title{
    font-size: 25px;
    margin-top:50px;
    margin-bottom: 0;
    margin-left: 45%;
}
.popular-dishes-card-container{
    /* width: 100%; */

    display: flex;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    margin: 20px;
    top: 50%;
  }
  
  .card:hover {
    box-shadow: 12px 12px 2px 1px #C2E1E4;
  }
  
.card-content{
    padding: 2px 16px;
  }


.card img{
    margin-top: 5px;
    width:100%;
    margin:auto;
}



/* popular dishes cards */

.pop-rating{
    display: flex;
	justify-content: start;
	align-items: center;
}

.pop-rating{
    list-style-type: none;
    text-decoration: none; 
    padding: 0;
}

.pop-rating ul > li {
    display: inline-block;
}

.pop-rating i{
    text-decoration: none; 
}



/* grid body */

h2 {
    margin-left: 50px;
}

.section-title {
    text-align: center;
}

.food-item-container {
    display: grid;
    grid-template-columns:
      repeat(3, 1fr);
    gap: 50px;
    margin: 50px
}

.grid-container {
    display: grid;
    grid-template-columns:
      repeat(4, 1fr);
    gap: 50px;
    margin: 50px
}

.grid-item {
    /* border: 1px solid black; */
    /* padding: 20px; */
    width: 300px;
    height: 250px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s ease-in-out;
}

.grid-item:hover{
    transform: scale(1.2);
}

.grid-item img {
    height: 85%;
    width: 100%;
    border-radius: 15px;
}

.grid-item h3 {
    margin: 0;
}

.food-pic {
    height: 75%;
    width: 75%;
}

#food-title {
    margin-left: 80px;
}

.info {
    display: grid;
    grid-template-columns:
      repeat(3, 0.5fr);
    gap: 10px;
    margin-top: 0;
}

.favorite-btn {
    height: auto;
    width: 75%;
    align-self: center;
}